.nav-link {
    margin-top: 20px;
}
.navbar {
    float: left;
    color: white;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}
.Encabezado {
    margin-bottom: 100px;
}

button {
    margin-top: 10px;
}